<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add   name="ConexionBasedeDatosTaller" 
           connectionString="Data Source=DESKTOP-L2TVCJU\SQL2019; initial catalog=TallerDb;Integrated Security=True; 
           " providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>